body{
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    box-shadow: rgb(0, 0, 0) 0px 13px 27px -5px, rgb(255, 255, 255) 0px 8px 16px -118px ;
    border-radius: 10px;
}

.red{
    background-color: #8C0404;
    border-radius: 10px;
}

/* ---------------------------------------------------------------------------- */
main{ /* Conteneur principal */
    height: 80vh;
    margin: auto;
    display: grid;
    gap: 10px;
    background-color: #B3B1B2;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#conteneur1{ /* la première ligne */
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.15fr 0.15fr;
    column-gap: 5px;
}

#conteneur1>div{ /* les 4 div de la première ligne */
    border: solid 1px black;
    
}

/* Fin de la première ligne -------------------------------------------------------------------------------- */

#conteneur2{ /* la deuxième ligne */
    display: grid;
    grid-template-columns: 7.5fr 1fr;
    column-gap: 5px
}

.mini-conteneur{ /* le conteneur qui contient tous les items saufe un de la deuxième ligne */
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    column-gap: 5px;
}


#conteneur2> .mini-conteneur> div{  /* les 13 div de la deuxième ligne contenue dans le div dont la classe est .mini-conteneur */
    border: solid 1px black;
}

#conteneur2> .item_b14{ /* le dernier item de la deuxième ligne */
    border: solid 1px black;
}

/* Fin de la deuième ligne -------------------------------------------------------------------------------- */

/* Ici j'ai appliqué le mm principe que dans le conteneur2 mais j'ai inversé les position  ----------------------------------------------------- */
#conteneur3{ /* la troisième ligne */
    display: grid;
    grid-template-columns: 1fr 8.5fr;
    column-gap: 5px;
}

.mini-conteneur2{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    column-gap: 5px;
}

.mini-conteneur2 *{
    border: solid 1px black;
}

#conteneur3> .item_c14{
    border: solid 1px black;
   
}

/* Fin de la troisième ligne -------------------------------------------------------------------------------- */

#conteneur4{ /* la quatrième ligne */
   display: grid;
   grid-template-columns: 1fr 5.4fr 1fr ; 
    column-gap: 5px;
}

#conteneur4>.mini1 { /* J'ai sélectionné ici la div dans laquelle j'ai placé item_d1 */
    display: grid;

}

#conteneur4> .mini-conteneur4{ /* J'ai sélectionné ici la div dans laquelle j'ai placé les 11 items de la quatrième ligne */
   display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 5px;
    
}

#conteneur4 .mini2{ /* J'ai sélectionné ici la div dans laquelle j'ai placé item_d13 */
    display: grid;
}

/* Fin de la quatrième ligne -------------------------------------------------------------------------------- */

/* Ici je vais appliqué le mm principe qu'avec les éléments de conteneur4 en adaptant les classe et les valeurs  */

#conteneur5{ /* la cinquième ligne */
    display: grid;
    grid-template-columns: 1fr 4.5fr 1fr ; 
    column-gap: 5px;
}

#conteneur5>.mini3 { 
    display: grid;
    
}

#conteneur5> .mini-conteneur5{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 5px;
}

#conteneur5 .mini4{
    display: grid;    
}

/* Fin de la cinquième ligne -------------------------------------------------------------------------------- */

#conteneur6{ /* la sixième ligne */
    display: grid;
    grid-template-columns: 37% 30% 17% 1fr ; 
    column-gap: 5px;
    height: 15px;
}

#conteneur6>.mini5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    
}

#conteneur6>.mini5>div{
    border: solid 1px black;
    
}

#conteneur6>.mini6{
    display: grid;
    
}

#conteneur6>.mini7{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}

#conteneur6>.mini7>div{
    border: solid 1px black;

}

#mini8{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    align-items: center;
    height: 49px;
}

.fleche1{
    border: solid black;
    width: 25%;
    grid-column: 2;
    justify-self: center;
    text-align: center;
}

.fleche2{
    border: solid black;
    width: 25%;
    grid-column: 1;
    justify-self: center;
    text-align: center;
}

.fleche3{
    border: solid black;
    width: 25%;
    justify-self: center;
    text-align: center;
}

.fleche4{
    border: solid black;
    width: 25%;
    justify-self: center;
    text-align: center;
}

.fleche{
    width: 40px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}


/* ici je vais faire le @media pour que le clavier soit responsive */

@media screen {
    @media (max-width: 700px) {
        body{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            
        }
        
        .item, .red{ /* les 4 div de la première ligne */
            border: solid 1px black;
            border-radius: 3px;
            text-transform: lowercase;
        }
        
        main{
            width: 220px;
            height: auto;
            font-size: 10px;
            border: greenyellow solid;
            display: flex;
            flex-direction: column;
            gap: 5px;
            background-color: #B3B1B2;
            padding: 25px;
            align-items: center;
        }
        
        #conteneur1{ /* la première ligne */
            display: grid;
            grid-template-columns: 30px 130px 30px 30px;
            column-gap: 5px;
            
        }

        #conteneur2{ /* la deuxième ligne */
            display: grid;
            grid-template-columns: 180px 35px;
            column-gap: 15px;
            height: 40%;
            
        }

        .mini-conteneur{ /* le conteneur qui contient tous les items saufe un de la deuxième ligne */
            display: grid;
            grid-template-columns: repeat(13, 10px);
            column-gap: 5px;
        }

        #conteneur3{ /* la troisième ligne */
            display: grid;
            grid-template-columns: 35px 180px;
            column-gap: 5px;
            width: 230px;
            
        }

        .mini-conteneur2{
            display: grid;
            
            grid-template-columns: repeat(13, 10px);
            column-gap: 5px;
            text-transform: lowercase;
        }

        #conteneur4{ /* la quatrième ligne */
            display: grid;
            grid-template-columns: 40px 150px 30px ; 
             column-gap: 8px;
             
         }
         
         #conteneur4>.mini1 { /* J'ai sélectionné ici la div dans laquelle j'ai placé item_d1 */
             display: grid;
         
         }

         #conteneur5{ /* la cinquième ligne */
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 230px;
                
            }

            #conteneur5> .mini-conteneur5{
                display: grid;
                grid-template-columns: repeat(10, 10px);
                column-gap: 6px;
            }

            .mini3{
                width: 40px;
            }

            .mini4{
                width: 40px;
            }

            #conteneur6{ /* la sixième ligne */
                display: grid;
                width: 230px;
                flex-direction: row;
                grid-template-columns:  80px 50px 40px 50px;
                column-gap: 6px;
                height: 15px;
            }

            .item_f1, .item_f2, .item_f3,.item_f4,.item_f5,.item_f6,.item_f7{
                height: 15px;
            }

            #mini8{
                height: 15px;
                font-size: 3px;
                display: grid;
                grid-template-columns: repeat(3, 15px);
                background-color: transparent;
                align-items: center;
                
            }

            .fleche{
                width: 15px;
                border-radius: 2px;
                background-color: #000;
                color: #fff;
            }
            
            .fleche1{
                border: solid black;
                width: 25%;
                grid-column: 2;
                justify-self: center;
                text-align: center;
            }
            
            .fleche2{
                border: solid black;
                width: 25%;
                grid-column: 1;
                justify-self: center;
                text-align: center;
            }
            
            .fleche3{
                border: solid black;
                width: 25%;
                justify-self: center;
                text-align: center;
            }
            
            .fleche4{
                border: solid black;
                width: 25%;
                justify-self: center;
                text-align: center;
            }
            
           
    }
}

/* Styles pour les écrans entre 700px et 1300px de large */
@media screen and (min-width: 700px) and (max-width: 1300px) {
    #conteneur6 {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      column-gap: 6px;
    }
  
    body {
      width: 90%;
    }
  
    main {
      height: 50vh;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
    }
  }
  
  /* Styles pour les écrans de plus de 100px de large ET de moins de 950px de haut */
  @media screen and (min-width: 100px) and (max-height: 950px) {
    body {
      width: 90%;
    }
  
    main {
      height: 15vh;
      width: auto;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
    }
  }
  
  /* Styles pour les écrans entre 720px et 800px de large */
  @media screen and (min-width: 720px) and (max-width: 800px) {
    #conteneur6 {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      column-gap: 6px;
    }
  
    body {
      width: 90%;
    }
  
    main {
      height: 30vh;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      row-gap: 2px;
    }
  }
  
  /* Styles pour les écrans de plus de 600px de haut */
  @media screen and (min-height: 600px) {
    #conteneur6 {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      column-gap: 6px;
    }
  
    body {
      width: 90%;
    }
  
    main {
      height: 15vh;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
    }
  }


  @media screen and (min-width:750px) and (max-height:1400px) {
    main {
        height: 20vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
      }
  }

  @media screen and (min-width:1024px) and (max-height:600px) {
    main {
        height: 40vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
      }
  }

  @media screen and (min-width:1280px) and (max-height:800px) {
    main {
        height: 40vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
      }
  }

  @media screen and (min-width:1280px) and (max-height:0px) {
    main {
        height: 40vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
      }
  }